<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <gomage_sms>
            <sms_block_settings>
                <block_enabled_country_code>0</block_enabled_country_code>
                <block_default_country_code>+1</block_default_country_code>
            </sms_block_settings>
        </gomage_sms>
    </default>
</config>
